<!DOCTYPE html>
<html>
<head>
  <title>FlickrLab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html">Flickr</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="">
                  <% if @user == nil %>
                <li class="">
                  <a href="/sessions/new" class="button">Log In</a>
                </li>
                  <% else %>
                <li><a href="/sessions/destroy" data-method="delete"><%= @user.username %></a>
                </li>
                  <% end %>
                </li>
                <li class="">
                  <a href="/albums">Albums</a>
                </li>
                <li class="">
                  <a href="/photos">Photos</a>
                </li>
                <li class="">
                  <a href="/albums/new">New Album</a>
                </li>
                <li class="">
                  <a href="/photos/new">New Photo</a>
                </li>
                <li class="btn-main">
                  <a href="/users/new">Sign Up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  <div class="jumbotron masthead">
    <div class="container">
      <h1>Welcome to Flickr!</h1>
      <div class="row-fluid">
    <div class="offset2 span4">
      <a href="/sessions/new"><div class="btn btn-large btn-info">Log In</div></a>
    </div>
    <div class="offset2 span4">
      <a href="/users/new"><div class="btn btn-large btn-info">Sign Up</div></a>
    </div>

    </div>
        <div class="span4"><% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          </div>
    </div>
  </div>
<div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span12">
    </div>
  </div>
</div>

</body>
</html>
